<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ quiz_name}}</title>
    <label>Adding questions and answers for {{ quiz_name}}</label>  
    <style>
        .column {
            float: left;
            width: 10%;
        }
    </style>
</head>

<body>
    <br>
    <div class="column"> 
        <p>Question</p>
        <input type="text" name="question1" required /><br /><br />        
    
    
    
    </div>
    <div class="column"> 
        <p>Answer</p>
        <input type="text" name="answer1" required /><br /><br />  
    
    
    </div>
    <br><br> <br> <br> <br> 
    <style>
        .submitButton {
            float: left;
            margin-right: 5px;
        }
    </style>
    <form action="/addQuestionAdmin" method="POST">
    <input class= submitButton type="submit" value="Submit question and answer">
    </form>
    
    <input type="submit" value="Back">

    


</body>

</html>