{% extends "base.html" %}

{% block content %}
    <h2>Administrator Interface</h2>
    
    <div style="display: flex; align-items: flex-start;">
        <div>
            <h3>Create Question</h3>
            <form method="POST" action="{{ url_for('create_question') }}" style="display: flex; flex-direction: column;">
                <div>
                    <label class="form-label" for="category">Category:</label>
                    <input class="form-input" type="text" id="category" name="category">
                </div>
                <div>
                    <label class="form-label" for="question_text">Question:</label>
                    <input class="form-input" type="text" id="question_text" name="question_text">
                </div>
                <div>
                    <label class="form-label" for="answer">Correct answer:</label>
                    <input class="form-input" type="text" id="answer" name="answer">
                </div>
                <input type="submit" value="Create Question" style="align-self: flex-end; margin-top: 1rem;">
            </form>

            <!-- Add other administrator interface elements, such as question and answer lists, here -->
            <h3>Existing Questions</h3>
            <table>
                <tr>
                    <th>Category</th>
                    <th>Question</th>
                    <th>Correct answer</th>
                    <th>Actions</th>
                </tr>
                {% for question in questions %}
                    <tr>
                        <td>{{ question.category }}</td>
                        <td>{{ question.question_text }}</td>
                        <td>{{ question.answer }}</td>
                        <td>
                            <button> <a href="{{ url_for('edit_question', question_id=question.id) }}">Edit</a> </button> |
                            <button> <a href="{{ url_for('delete_question', question_id=question.id) }}">Delete</a> </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div style="margin-left: 2rem;">
            <h3>Select Quiz to View User Answers</h3>
            <form method="POST" action="{{ url_for('admin_quiz_details') }}" style="display: flex; flex-direction: column;">
                <div>
                    <label class="form-label" for="quiz-select">Select Quiz:</label>
                    <select class="form-input" name="quiz-select" id="quiz-select">
                        {% for quiz in quizzes %}
                            <option value="{{ quiz[0] }}">{{ quiz[1] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="submit" value="View User Answers" style="align-self: flex-end; margin-top: 1rem;">
            </form>
        </div>
    </div>
{% endblock %}
