{% extends "base.html" %}

{% block content %}
    <h2>Administrator Interface</h2>
    
    <div style="display: flex; justify-content: space-between;">
        <div style="flex: 1; margin-right: 2rem;">
            <h3>Create Quiz</h3>
            <form method="POST" action="{{ url_for('create_quiz') }}" style="display: flex; flex-direction: column;">
                <div style="margin-bottom: 1rem;">
                    <label class="form-label" for="quizname">Quiz Name:</label>
                    <input class="form-input" type="text" id="quizname" name="quizname">
                </div>
                <input type="submit" value="Create Quiz" style="align-self: flex-start;">
            </form>
        </div>

        {% if quizzes %}
        <div style="display: flex; flex-direction: column; flex: 1;">
            <h3>Manage Quizzes</h3>
            {% for quiz in quizzes %}
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <h4 style="margin-right: 1rem;">{{ quiz.name }}</h4>
                <div>
                    <form method="POST" action="{{ url_for('edit_quiz') }}" style="display: inline-block;">
                        <input type="hidden" name="quiz_id" value="{{ quiz.id }}">
                        <button type="submit" style="width: 175px; margin-right: 1rem;">Edit Quiz</button>
                    </form>
                    <form method="POST" action="{{ url_for('admin_quiz_review') }}" style="display: inline-block;">
                        <input type="hidden" name="quiz_id" value="{{ quiz.id }}">
                        <button type="submit" style="width: 175px; margin-right: 1rem;">Check user answers</button>                  
                    </form>
                    <form method="POST" action="{{ url_for('delete_quiz') }}" style="display: inline-block;">
                        <input type="hidden" name="quiz_id" value="{{ quiz.id }}">
                        <button type="submit" style="width: 175px;" class="delete-btn">Delete Quiz</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    
{% endblock %}
