{% extends 'base.html' %}

{% block content %}
  <h1>User Answers for Quiz</h1>
  <table>
    <thead>
      <tr>
        <th>Question</th>
        <th>User answer</th>
        <th>Correct answer</th>
        <th>Submitted time</th>
      </tr>
    </thead>
    <tbody>
      {% for user_answer in user_answers %}
        <tr>
          <td>{{ user_answer[1] }}</td>
          <td>{{ user_answer[2] }}</td>
          <td>{{ user_answer[3] }}</td>
          <td>{{ user_answer[4] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <button><a href="{{ url_for('admin') }}">Back to Admin Page</a></button>

{% endblock %}
