<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset = "UTF-8" />
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{{ url_for('loginTemplate') }}">Home</a></li>
          <li><a href="#">Quizzes</a></li>
          <li><a href="#">Who we are</a></li>
          <li><a href="#">News and media</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Donate Now</a></li>
        </ul>
      </nav>
    </header>
  </body>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>