{% extends "base.html" %}

{% block content %}
    <h2>Select User Type</h2>
    {% if message %}
        <p style="color: red; font-weight: bold;">{{ message }}</p>
    {% endif %}
    <form method="POST" action="{{ url_for('index') }}">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" style="width: 182px;"><br><br>
        
        <label for="user_type">User Type:</label>
        <select id="user_type" name="user_type" >
            <option value="user">Regular User</option>
            <option value="admin">Administrator</option>
            <br><br>
            
        </select>
        <input type="submit" value="Select">
    </form>
{% endblock %}
