{% extends "base.html" %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Page</title>
</head>
<body>
    <h1>Quiz site login</h1>
    <form action="/login" method="POST">
        <label for "buttons"> Login as:</label> <br><br>
        
        <label for "userButton"> USER</label>
        <input type="radio" id = "1" name="loginButtons" value= "1" required> 
        <label for "adminButton"> ADMIN</label> 
        <input type="radio" id = "2" name="loginButtons" value= "2" required>
        <br><br><br>
        <!--Name bestemmer gruppering av knapper -->
        
        <!--BRUK VALUE FOR FLASK APPLIKASJONEN FOR Å VITE OM DE VELGER BRUKER ELLER ADMIN LOGIN -->
        <!--KAN EVT LAGE EN ADMIN BRUKERNAVN OG EN USER BRUKERNAVN ISTEDET FOR BUTTONS.-->
        <!--KAN EVT. FJERNE USERNAME OG PASSWORD FORDI DET IKKE ER VIKTIG FOR OPPGAVEN-->
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"> <br><br>

        <label for="password">Password:&nbsp</label>
        <input type="password" id="password" name="password"><br><br>

        <input type="submit" value="Login">
    </form>
</body>
{% endblock %}
