{% extends "base.html" %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>
    <h1>Welcome Admin</h1>
</body>

<body>
    <Label>CREATE NEW QUIZ</Label><br><br>
    <form action="/addQuestionAdmin" method="POST">
        <label for="quizName">Quiz Name:</label>
        <input type="text" id="quizName" name="quizName" required>
        <input type="submit" value="Create Quiz"><br><br>
    </form>
    
    <form action="/login" method="POST">
        <input type="submit" value="Back"><br><br>
    </form>
</body>

{% endblock %}
