{% extends "base.html" %}

{% block content %}
<h2>Review Answers</h2>

{% if user_answers %}
<table>
    <thead>
        <tr>
            <th>Question Text</th>
            <th>Quiz Name</th>
            <th>User Name</th>
            <th>Answer</th>
            <th>Comment</th>
            <th>Is Approved</th>
        </tr>
    </thead>
    <tbody>
        {% for user_answer in user_answers %}
        <tr>
            <td>{{ user_answer[1] }}</td> <!-- Question Text -->
            <td>{{ user_answer[2] }}</td> <!-- Quiz Name -->
            <td>{{ user_answer[3] }}</td> <!-- Username -->
            <td>{{ user_answer[0].answer }}</td> <!-- Answer -->
            <td>{{ user_answer[0].comment }}</td> <!-- Comment -->
            <td>{{ user_answer[0].is_approved }}</td> <!-- Is Approved -->
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No answers found.</p>
{% endif %}
{% endblock %}
